<div id="contactsHeader" data-theme="b" data-role="header"
	data-position="fixed">
	<a id="newBtn" data-role="button" href="#newContact" data-icon="plus"
		data-iconpos="right" class="ui-btn-right"> New </a>
	<h1>All Contacts</h1>
</div>
<div data-role="content" style="padding: 5px">
	<div id="searchContacts" data-role="fieldcontain">
		<fieldset data-role="controlgroup">
			<label for="searchContacts"> </label> <input name="Search Contacts"
				id="searchContacts" placeholder="Search" value="" type="search">
		</fieldset>
	</div>
	<ul id="contacts" data-role="listview" data-divider-theme="c"
		data-inset="true">
		<li data-role="list-divider" role="heading">A</li>
		<li data-theme="d"><a href="#showContact" data-transition="slide">
				Alice </a></li>
		<li data-role="list-divider" role="heading">L</li>
		<li data-theme="d"><a href="#showContact" data-transition="slide">
				Chee Kin <strong>Lim</strong>
		</a></li>
	</ul>
</div>
<div data-role="footer" data-position="fixed">
	<div class="ui-grid-b">
		<div class="ui-block-a">
			<a href="#" data-role="button" data-icon="home" data-corners="false"
				data-iconpos="top" style="margin: 0">Contacts</a>
		</div>
		<div class="ui-block-b">
			<a href="#" data-role="button" data-icon="gear" data-corners="false"
				data-iconpos="top" style="margin: 0">Settings</a>
		</div>
		<div class="ui-block-c">
			<a href="#" data-role="button" data-icon="info" data-corners="false"
				data-iconpos="top" style="margin: 0">About</a>
		</div>
	</div>
</div>