
<div data-theme="b" data-role="header" data-position="fixed">
	<a id="editBtn" data-role="button" href="#" class="ui-btn-right">
		Edit </a> <a id="allContactsBtn" data-role="button" href="#"
		class="ui-btn-left"> All Contacts </a>
	<h3>Info</h3>
</div>
<div data-role="content">
	<div class="ui-grid-a">
		<div class="ui-block-a">
			<div id="profilePicture" style="text-align: center">
				<img id="profilePicture" style="width: 80%; height: 80%"
					src="http://assets.codiqa.com/hHAsHANeTMsAtCv7CSzQ_profile.jpg">
			</div>
		</div>
		<div class="ui-block-b">
			<div>
				<p>
					<b> Mr. Chee Kin Lim <br>
					</b>
				</p>
			</div>
		</div>
	</div>
	<ul data-role="listview" data-divider-theme="b" data-inset="true">
		<li data-theme="c"><a href="#page1" data-transition="slide">
				mobile +601 234 5678 </a></li>
		<li data-theme="c"><a href="#page1" data-transition="slide">
				personal <span class="ui-li-count"> limcheekin@email.com </span>
		</a></li>
		<li data-theme="c"><a href="#" data-transition="slide"> home
				page <span class="ui-li-count"> limcheekin.blogspot.com </span>
		</a></li>
	</ul>
</div>
<div data-role="footer" data-position="fixed">
	<div class="ui-grid-b">
		<div class="ui-block-a">
			<a href="#" data-role="button" data-icon="home" data-corners="false"
				data-iconpos="top" style="margin: 0">Contacts</a>
		</div>
		<div class="ui-block-b">
			<a href="#" data-role="button" data-icon="gear" data-corners="false"
				data-iconpos="top" style="margin: 0">Settings</a>
		</div>
		<div class="ui-block-c">
			<a href="#" data-role="button" data-icon="info" data-corners="false"
				data-iconpos="top" style="margin: 0">About</a>
		</div>
	</div>
</div>